recursive-include unilabos/test *
recursive-include unilabos/utils *
recursive-include unilabos/registry *.yaml
recursive-exclude * __pycache__ *.pyc
prune unilabos/devices/cytomat
recursive-include unilabos/device_mesh/devices *
recursive-include unilabos/device_mesh/resources *
